@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');

* {
  box-sizing: border-box;
  /* margin: 0; */
  /* padding: 0; */
}

body {
  margin: 0;
  font-family: sans-serif;
  font-weight: 500;
}

ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  /* margin: 0;
  padding: 0; */
  list-style-type: none;
}

h1,
h2,
h3,
p {
  margin-block-start: 0;
  margin-block-end: 0;
  /* margin: 0; */
}

a {
  text-decoration: none;
  font-style: normal;
}

.app {
  /* display: flex; */
  width: 100%;
  height: auto;
}

h1 {
  text-align: center;
  font-family: 'Raleway Dots';
  font-weight: 400;
  text-transform: uppercase;
  font-size: 5rem;
  background-color: aquamarine;
  padding: 3rem 0;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 2rem 1rem;
  /* width: calc(100% / 3) * 20px; */
}
.select {
  border-radius: 10rem;
  height: 1.8rem;
  width: 5rem;
  color: #a9a9a9;
}
input {
  border-radius: 10rem;
  height: 1.8rem;
  border: 1px solid #808080;
}
input:hover,
.select:hover {
  border-color: #d3d3d3;
}
input[type='checkbox'] {
  height: 1rem;
  width: 2rem;
  accent-color: #e9967a;
}
.btn {
  background-color: aqua;
  cursor: pointer;
  border: none;
  font-weight: 500;
  padding: 0.5rem;
  text-transform: uppercase;
  color: #a9a9a9;
}

.btn:hover {
  color: white;
}
.btn-dlt {
  border: none;
  cursor: pointer;
  background: none;
}

.shopping-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 3rem;
}
footer {
  text-align: center;
  background-color: aquamarine;
  padding: 3.2rem 0;
  font-weight: 700;
  /* margin-bottom: 0; */
}
/* phone */

@media (min-width: 350px) and (max-width: 450px) {
  h1 {
    min-width: 350px;
    font-size: 2.5rem;
  }
}
